img {
    width: 500px;
    max-width: 100;
    border-radius: 5%;
}

ol, ul {
    font-family: 'Poppins', sans-serif;
}

body {
  background-color: #0d1117;
  color: #f0f0f0;
}

h1, h2 {
  color: #58a6ff;
}

p{
    font-family: "Poppins", sans-serif;
}